<!DOCTYPE html>
<html>

<head>
  <title>
    <%= course %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
  <h1>
    <%= "Sample page for " + course %>
  </h1>
  <p>Welcome
    <%= name %>! Please select the desired resource below:</p>
  <a href="<%= info.ext_content_return_url %>?return_type=lti_launch_url&url=https%3A%2F%2Ffierce-mesa-48470.herokuapp.com%2Fpathtocontent">This is a link to send back</a>
  <a href="<%= info.ext_content_return_url %>?return_type=lti_launch_url&url=https%3A%2F%2Ffierce-mesa-48470.herokuapp.com%2Fpathtocontent">This is a link to send back</a>
  <a href="<%= info.ext_content_return_url %>?return_type=lti_launch_url&url=https%3A%2F%2Ffierce-mesa-48470.herokuapp.com%2Fpathtocontent">This is a link to send back</a>
  <a href="<%= info.ext_content_return_url %>?return_type=lti_launch_url&url=https%3A%2F%2Ffierce-mesa-48470.herokuapp.com%2Fpathtocontent">This is a link to send back</a>
  <h2>The following are for developmental reference only</h2>
  <% for(prop in info){ %>
    <p>
      <%= prop + " | " + info[prop] %>
    </p>
    <%  } %>
</body>

</html>
